extends layout

block content

  if user
    if errors
      div(class="errors")
        for error in errors
          li= error
    div
      form(method="post" action="/add")
        h2 add a student
        label student name
          input(type="text" name="studentName")
        p
          label student phone
            input(type="text" name="studentPhone")
        button(type="submit") add student
  else
    h2 please create an account to access this page
