extends layout

block content
  if user 
    div
      h2 All Students
      for students in allStudents
        div(class="student-view")
            ul= students.studentName 
            ul= students.studentPhone   
            ul
              a(href="/#{students._id}") view student  
