extends layout

block content
  if user
    div(class="student-view")
      h1(class="text-white")= theStudent.studentName
      p= theStudent.studentPhone
  else
    h2 please create an account to access this page
