body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.errors {
  background-color: #FFCCCC;
  font-size: 16px;
  padding: 20px;
  width: 400px;
  margin: 20px;
}

.student-view {
  background-color: #D3D3D3;
  font-size: 16px;
  padding: 20px;
  width: 400px;
  margin: 20px;
}

.text-white {
  color: white;
}
